.inputOption {
	display: flex;
	align-items: center;
	margin-top: .9rem;
	cursor: pointer;
	padding: .6rem;
	border-radius: .3rem;
	transition: all .2s linear;
}
.inputOption:hover {
	background-color: rgb(228, 228, 228);
}
.inputOption > h4 {
	margin-left: .2rem;
	color: #586870;
}
